
@import url(./font/icomoon.css);
@import url(https://fonts.googleapis.com/css?family=Google+Sans:300,400,500,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Snippet|Bungee+Hairline|Megrim);

body{
    margin: 0;
    /* background-color: white; */
    background-color: black;
}

/* Global */
.font-google-sans{
    font: 400 22px/28px 'Google Sans',Arial,Helvetica,sans-serif;
}

.transition{
    transition: all 0.2s ease-in-out;
}

.no-text-deco{
    text-decoration: unset;
}

.no-select{
    user-select: none;
}

::selection{
    background: #ffb7b7;
}


/* Navigation */
#nav{
    width: 100%;
    /* height: 60px; */
    height: 54px;
    background-color: white;
    /* border-bottom: 1px solid #00000017; */
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
}

    /* Title */
    #nav-title{
        font-size: 29px;
        /* font-size: 34px; */
        margin-left: 30px;
        margin-right: 2px;
        /* font-family: 'Snippet', sans-serif; */
        font-family: 'Megrim', cursive;
        color: black;
    }

    #nav-title-2{
        margin-top: -16px;
        /* margin-top: -19px; */
        font-family: 'Bungee Hairline', cursive;
        font-weight: 600;
        /* font-size: 10px; */
        font-size: 9px;
        color: black;
    }

    #nav-placeholder{
        padding: 29px;
    }

    .nav-button{
        /* border: 1px solid black; */
        border-radius: 3px;
        padding: 4px 12px;
        padding: 1px 12px;
        /* font-size: 15px; */
        font-size: 14px;
        display: inline-block;
    }

    .nav-button:hover{
        filter: brightness(1.3)
    }

    .nav-button-primary{
        background: purple;
        /* border-color: purple; */
        color: white;
    }

    .nav-button-secondary{
        /* border-color: purple; */
        color: purple;
    }

    #nav-vote{
        padding: 4px 14px;
        margin-left: 10px;
    }

    #nav-stats-server_count, #nav-stats-monthlyPoints {
        opacity: 0.5;
        display: none;
        padding-left: 5px;
    }

    /* Login */
    #nav-login{
        opacity: 0.4;
        margin-right: 40px;
        position: absolute;
        font-size: 14px;
        right: 0;
        display: none;
        cursor: pointer;
    }

    #nav-login:hover{
        opacity: 1.0;
    }

/* Content */
#content{
    width: 100%;
    /* height: calc(100vh - 61px); */
    height: calc(100vh - 57px);
    background: #07125aad;
    display: flex;
    flex-direction: column-reverse;
}

    /* Main */
    #content-nav{
        /* height: -webkit-fill-available; */
        /* height: 315px; */
        /* box-shadow: 0 0 5px 0 rgba(0,0,0,0.35); */
        text-align: left;
        /* width: 19vw; */
        /* width: 67px; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* flex-direction: column; */
        flex-direction: row;
        z-index: 2;
    }

    .content-nav-item{
        text-align: center;
        opacity: 0.5;
        background: white;
        transition: opacity 0.2s ease-in-out;
        width: -webkit-fill-available;
        /* height: -webkit-fill-available; */
        /* height: 78px; */
        height: 45px;
        /* padding: 40px; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
    }

    .content-nav-item:hover{
        opacity: 0.7;
    }

    .content-nav-item.active{
        opacity: 1.0;
    }

    #content-nav-item-1{
        background: deepskyblue;
    }

    #content-nav-item-2{
        background: lightpink;
    }

    #content-nav-item-3{
        background: lightgreen;
    }

    #content-nav-item-4{
        background: lightgray;
    }

    #content-nav-item-5{
        background: lightsalmon;
    }

    #content-view{
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        background-image: url(../img/background.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom center;
        /* background: #e9e9e9; */
        /* padding: 24px; */
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
        overflow: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
    }


/* Responsive */
@media only screen and (max-width: 1023px){
    .block{
        flex-direction: column !important;
    }
    .block-right{
        width: unset !important;
    }
    .card-preview {
        width: 70vw !important;
    }

    .title-big{
        line-height: 45px;
    }
}

@media only screen and (max-width: 639px){
    #nav-vote, #nav-support, #nav-dashboard{
        display: none !important;
    }

    #placeholder {
        padding: 0 !important;
    }
    #card {
        width: -webkit-fill-available !important;
        height: -webkit-fill-available !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }

    .block-header .icon{
        font-size: 2.0em !important;
        padding-bottom: 0 !important;
    }
    .title-big{
        font-size: 25px !important;
        line-height: 30px !important;
    }
    .placeholder-3{
        margin-top: 10px !important;
    }
    .card-preview {
        width: 90vw !important;
    }

    .block{
        padding: 20px !important;
    }
    .cmd-big{
        font-size: 29px !important;
        padding: 7px !important;
    }
    .function {
        padding: 14px !important;
    }

    .about-1{
        padding: 23px 0px !important;
    }
    .card-content{
        font-size: 16px;
        line-height: 20px;
        padding: 20px !important;
    }
    #backbone{
        display: none !important;
    }
}

@media only screen and (max-width: 374px){
    #nav-invite {
        display: none;
    }

    #header{
        padding: 20px !important;
    }
    #header-title{
        font-size: 34px !important;
    }

    #navcmd .cmd{
        flex-grow: 1;
    }
    .placeholder-3{
        padding: 0 !important;
    }
}

/* Splash Screen */
#splash{
    top: 0;
    left: 0;
    position: fixed;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg jsname='BUfzDd' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 810' preserveAspectRatio='xMinYMin slice' aria-hidden='true'%3e%3cpath fill='%23efefee' d='M592.66 0c-15 64.092-30.7 125.285-46.598 183.777C634.056 325.56 748.348 550.932 819.642 809.5h419.672C1184.518 593.727 1083.124 290.064 902.637 0H592.66z' /%3e%3cpath fill='%23f6f6f6' d='M545.962 183.777c-53.796 196.576-111.592 361.156-163.49 490.74 11.7 44.494 22.8 89.49 33.1 134.883h404.07c-71.294-258.468-185.586-483.84-273.68-625.623z' /%3e%3cpath fill='%23f7f7f7' d='M153.89 0c74.094 180.678 161.088 417.448 228.483 674.517C449.67 506.337 527.063 279.465 592.56 0H153.89z' /%3e%3cpath fill='%23fbfbfc' d='M153.89 0H0v809.5h415.57C345.477 500.938 240.884 211.874 153.89 0z' /%3e%3cpath fill='%23ebebec' d='M1144.22 501.538c52.596-134.583 101.492-290.964 134.09-463.343 1.2-6.1 2.3-12.298 3.4-18.497 0-.2.1-.4.1-.6 1.1-6.3 2.3-12.7 3.4-19.098H902.536c105.293 169.28 183.688 343.158 241.684 501.638v-.1z' /%3e%3cpath fill='%23e1e1e1' d='M1285.31 0c-2.2 12.798-4.5 25.597-6.9 38.195C1321.507 86.39 1379.603 158.98 1440 257.168V0h-154.69z' /%3e%3cpath fill='%23e7e7e7' d='M1278.31,38.196C1245.81,209.874 1197.22,365.556 1144.82,499.838L1144.82,503.638C1185.82,615.924 1216.41,720.211 1239.11,809.6L1439.7,810L1439.7,256.768C1379.4,158.78 1321.41,86.288 1278.31,38.195L1278.31,38.196z' /%3e%3c/svg%3e");
    background-color: white;
    background-size: cover;
    background-position: left top;
    z-index: 9999;
}

#splash-progress{
    position: fixed;
    animation: flash 2s infinite;
    font-family: 'Megrim', cursive;
    /* font-size: 29px; */
    font-size: 40px;
    color: gray;
}

@keyframes flash{
    from {opacity: 0}
    48% {opacity: 1}
    52% {opacity: 1}
    to {opacity: 0}
}
